<h2>Editar menus <mat-icon>pets</mat-icon></h2>
<form (ngSubmit)="onSubmit()" #formMenus="ngForm" style="text-align: center;">
    <p>
        <mat-form-field>
            <input matInput name="title" [(ngModel)]="menus.title"
                type="text"
                placeholder="Title">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <input matInput name="description" [(ngModel)]="menus.description"
                type="text"
                placeholder="Description">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <input matInput name="status" [(ngModel)]="menus.status"
                type="number"
                placeholder="Status">
        </mat-form-field>
    </p>
        <p>
        <mat-form-field>
            <input matInput name="created" [(ngModel)]="menus.created"
                type="date"
                placeholder="Created">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <input matInput name="modified" [(ngModel)]="menus.modified"
                type="date"
                placeholder="Modified">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <input matInput name="father_id" [(ngModel)]="menus.father_id"
                type="number"
                placeholder="father id">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <input matInput name="link" [(ngModel)]="menus.link"
                type="text"
                placeholder="Link">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <input matInput name="position_id" [(ngModel)]="menus.position_id"
                type="number"
                placeholder="Position id">
        </mat-form-field>
    </p>
    <p>
        <button type="submit" mat-flat-button color="accent">Guardar</button>
        &nbsp;
        <button (click)="volver()" type="button" mat-flat-button color="primary">Volver</button>
    </p>
</form>
