<div mat-dialog-content style="color: red">
  <p>Seleccione el estado</p>
  <mat-form-field>
    <select name="select" class="form-control" [(ngModel)]="positionsModel.status">
        <option data-tokens="0">Desactivado</option>
        <option data-tokens="1">Activo</option>
    </select>
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No</button>
  <button mat-button [mat-dialog-close]="positionsModel.status" cdkFocusInitial>Ok</button>
</div>