<h2>Listado de menus</h2>
<table mat-table [dataSource]="menus" class="mat-elevation-z8" style="width:
    100%;">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let menus"> {{menus.id}} </td>
    </ng-container>
    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let menus"> {{menus.title}} </td>
    </ng-container>
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let menus"> {{menus.description}} </td>
    </ng-container>
    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let menus"> {{menus.status}} </td>
    </ng-container>
    <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef>Created</th>
        <td mat-cell *matCellDef="let menus"> {{menus.created}} </td>
    </ng-container>
    <ng-container matColumnDef="modified">
        <th mat-header-cell *matHeaderCellDef>Modified</th>
        <td mat-cell *matCellDef="let menus"> {{menus.modified}} </td>
    </ng-container>
    <ng-container matColumnDef="father_id">
        <th mat-header-cell *matHeaderCellDef>Father id</th>
        <td mat-cell *matCellDef="let menus"> {{menus.father_id}} </td>
    </ng-container>
    <ng-container matColumnDef="link">
        <th mat-header-cell *matHeaderCellDef>Link</th>
        <td mat-cell *matCellDef="let menus"> {{menus.link}} </td>
    </ng-container>
    <ng-container matColumnDef="position_id">
        <th mat-header-cell *matHeaderCellDef>Position id</th>
        <td mat-cell *matCellDef="let menus"> {{menus.position_id}} </td>
    </ng-container>
    <ng-container matColumnDef="editar">
        <th mat-header-cell *matHeaderCellDef>Editar</th>
        <td mat-cell *matCellDef="let menus">
            <a mat-icon-button [routerLink]="['/menus/editar', menus.id]">
                <mat-icon color="primary">edit</mat-icon>
            </a>
        </td>
    </ng-container>
    <ng-container matColumnDef="eliminar">
        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
        <td mat-cell *matCellDef="let menus">
            <button (click)="eliminarMenus(menus)" mat-icon-button>
                <mat-icon color="warn">delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['id', 'title', 'description', 'status', 'created', 'modified', 'father_id', 'link', 'position_id', 'editar', 'eliminar']"></tr>
    
    <tr mat-row *matRowDef="let fila; columns: ['id', 'title', 'description', 'status', 'created', 'modified', 'father_id', 'link', 'position_id', 'editar', 'eliminar'];"></tr>
</table>